* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('/styles/img/splash.png');
    background-position: 50% -70px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: flex-start;
    /* Center vertically */
    font-family: "Orbitron", sans-serif;
    padding: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 400px;
    margin-top: 60%;
    padding: 24px;
    border-radius: 4px;
    border: 4px solid rgba(35, 11, 52, 0.40);
    background: rgba(241, 208, 223, 0.86);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.orbitron {
    font-family: "Orbitron", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.title {
    font-size: 28px;
    font-weight: 600;
    color: #3A3A3A;
    line-height: 120%;
    letter-spacing: -0.64px;
}

.subtitle {
    font-family: "Roboto Mono", sans-serif;
    font-weight: 200;
    font-size: 16px;
    color: #575757;
    margin-bottom: 16px;
    padding-top: 5px;
    line-height: 300%;
}

.button-container {
    padding-top: 25px;
    display: flex;
    /* horizontal */
    justify-content: center;
    gap: 25px;
    width: 100%;
    flex-wrap: wrap;
}

.button {
    font-family: "Roboto Mono", sans-serif;
    font-weight: 200;
    font-size: 16px;
    display: flex;
    width: 104px;
    height: 42px;
    padding: var(--sds-size-space-300);
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    gap: var(--sds-size-space-200);
    border-radius: 4px;
    border: var(--sds-size-stroke-border) solid #B9B9B9;
    background: #FFF7FC;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #3A3A3A;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    transition: background 0.3s ease;
}

a {
    text-decoration: none;
}

.button:hover {
    background: rgba(180, 90, 130, 1);
}