.title {
    width: 400px;
    height: 39px;
    flex-shrink: 0;
    color: #A16BBF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Orbitron;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header-container {
    display: flex;
    align-items: flex-end;
}

.back-button {
    width: 33px;
    height: 34px;
    flex-shrink: 0;
    border: none;
}

.profile-picture {
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    border-radius: 7px;
    background: lightgray; /* Default color */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 50px;
    margin-left: 10px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-picture input[type="file"] {
    position: absolute;  /* Ensures input covers the whole div */
    width: 100%;
    height: 100%;
    opacity: 0; /* Makes it invisible but clickable */
    cursor: pointer;
}

.profile-picture img {
    width: 100%; /* Ensure the image is responsive and fits the container */
    height: 100%; /* Ensure the image stretches to the container's height */
    object-fit: contain; /* This will scale the image to fit without cropping */
  }

.edit-icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.stack {
    display: flex;
    flex-wrap: wrap;
}

.username {
    border-radius: 7px;
    color: #000;
    font-family: Orbitron;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 10px;
}

.bio {
    width: 230px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #1E1E1E;
    background: #FFF;
    margin-left: 10px;
}

.bio-textarea {
    border: none;
}

.save-btn-style {
    border: none;
    background: transparent;
    padding-top: 5px;
}


/* about section */
.about-border{
    flex-shrink: 0;
    border-radius: 8px;
    border: 1.5px solid rgba(150, 120, 166, 0.80);
    background: #CFDFF4;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 8px;
    margin-right: 8px;
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 10px;
}

.about-text {
    color: #000;
    font-family: Orbitron;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
    margin-left: 10px;
}

.about-textarea {
    border-radius: 5px;
    width: 78%;
    height: 100px;
    margin-left: 10px;
}

/* second section */
/* .containers-wrapper {
    display: flex;
    gap: 12px; 
    justify-content: center;
    align-items: center; 
    margin-top: 20px;
} */

/* .socials-container,
.artists-container {
    width: 193px;
    height: 154px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1.5px solid rgba(150, 120, 166, 0.80);
    background: #FFEBF2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
} */

/* .socials-label {
    margin-left: 7px;
    width: 119px;
    height: 22px;
    flex-shrink: 0;
    color: #000;
    font-family: Orbitron;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
} */

/* .artists-label {
    margin-left: 7px;
    width: 119px;
    height: 22px;
    flex-shrink: 0;
    color: #000;
    font-family: Orbitron;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
} */

/* new post style */
.newpost {
    margin-top: 25px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 390px;
    height: 131px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1.5px solid rgba(0, 0, 0, 0.50);
    background: #FFE6E9;
}

.innerone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 121px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF;
}

.innertwo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 329px;
    height: 99px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #F3DCFF;
}

.newpost-textarea {
    background-color: transparent;
    border: none;
    height: 75%;
    width: 85%;
}

.sendbtn {
    border: none;
    background-color: transparent;
}


/* list of posts */
.post-container {
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1.5px solid rgba(0, 0, 0, 0.50);
    background: #FFE6E9;
}

.post {
    background-color: white;
    margin: 15px;
    padding: 5px;
    border-radius: 5px;
    font-family: "Roboto Mono", sans-serif;
    font-weight: 200;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #3A3A3A;
}