<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Post</title>
</head>
<body>

  <h1>Edit Your Post</h1>

  <form action="/posts/<%= post._id %>?_method=PUT" method="POST">
    <textarea name="body" required><%= post.body %></textarea>
    <br>
    <button type="submit">Update Post</button>
  </form>

  <br>
  <a href="/posts/<%= post._id %>">Cancel</a>

</body>
</html>
